<div>
  @if (mode == "h") {
  @if (type != "select") {
  <div class="flex flex-row gap-1">
    <div class="grid grid-cols-3 gap-2">
      <div class="col-span-1 gap-1 flex justify-start items-center">
        @if (isIcon) {
          <span class="material-symbols-outlined text-primary-500">{{icon}}</span>
        }
        <label class="text-sm font-semibold text-text-500">{{label}}</label>
      </div>
      <div class="col-span-2">
      <input [(ngModel)]="content" (keyup)="change()" type="{{type}}" class="rounded border border-gray-300 p-1 w-full bg-background-100 text-text-500"
        placeholder="{{placeholder}}" />
      </div>
    </div>
  </div>
  }@else {
  <div class="flex flex-row gap-1">
    <div class="grid grid-cols-2 gap-2">
      <div class="col-span-1 flex gap-1 justify-start items-center">
        @if (isIcon) {
          <span class="material-symbols-outlined text-primary-500">{{icon}}</span>
        }
        <label class="text-sm text-text-500">{{label}}</label>
      </div>
      <div class="col-span-1">
        <select class="rounded p-1 w-full border-gray-300 bg-background-100 text-text-500">
          <option value="">{{placeholder}}</option>
          @for (item of options; track $index) {
          <option value="{{item}}">{{item}}</option>
          }
        </select>
      </div>
    </div>
  </div>
  }

  }@else if (mode == "v") {

  @if (type != "select") {
  <div class="flex flex-col justify-start items-center gap-1">
    <div class="flex flex-row gap-1">
      @if (isIcon) {
        <span class="material-symbols-outlined text-primary-500">{{icon}}</span>
      }
      <label class="text-sm text-text-500">{{label}}</label>
    </div>
    <input [(ngModel)]="content" (keyup)="change()" type="{{type}}" class="rounded p-1 w-full border-gray-300 bg-background-100 text-text-500"
      placeholder="{{placeholder}}" />
  </div>
  }@else {
  <div class="flex flex-col gap-1">
    <div class="flex flex-row gap-1">
      @if (isIcon) {
        <span class="material-symbols-outlined text-primary-500">{{icon}}</span>
      }
      <label class="text-sm text-text-500">{{label}}</label>
    </div>
    <select [(ngModel)]="content" (change)="change()" class="rounded p-1 w-full border-gray-300 bg-background-100 text-text-500">
      <option value="">{{placeholder}}</option>
      @for (item of options; track $index) {
      <option value="{{item}}">{{item}}</option>
      }
    </select>
  </div>

  }
  }

</div>
