<div class="fixed w-[250px] w-max-[250px] w-min-[250px] flex flex-col h-full bg-bg-primary indexZ justify-between">
  <div class="flex flex-col justify-center items-center p-4">
    <img class="h-[50px]" src="assets/logo/logo.png" alt="">
    <span class="text-white text-sm font-semibold italic">CloudMesa</span>
    <div class="flex flex-col justify-center items-center py-4 w-full ">
      <div class="flex flex-row w-full p-2 gap-2 justify-start items-center hover:bg-slate-900 rounded transition-colors cursor-pointer">
        <span class="material-symbols-outlined text-white">
          folder
        </span>
        <span class="text-white text-sm">My Files</span>
      </div>
      <div class="flex flex-row w-full p-2 gap-2 justify-start items-center hover:bg-slate-900 rounded transition-colors cursor-pointer">
        <span class="material-symbols-outlined text-white">
          folder_shared
        </span>
        <span class="text-white text-sm">Shared Files</span>
      </div>
    </div>
  </div>
  <app-Networks></app-Networks>


</div>
