/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  font-family: 'Inter', sans-serif, Arial, Helvetica;
  color: var(--text);
  --logo: #000000;
  --background-100: #ffffff;
  --background-200: #f9f9f9;
  --background-300: #f2f2f2;
  --background-400: #ebebeb;
  --background-500: #f0f0f0; /* Fondo principal */
  --background-600: #d6d6d6;
  --background-700: #bcbcbc;
  --background-800: #a3a3a3;
  --background-900: #898989;
  --text: #3a3a3a;
  --primary-100: #ffe6d5;
  --primary-200: #ffccab;
  --primary-300: #ffb380;
  --primary-400: #ff9933;
  --primary-500: #ff8000; /* Más blanco */
  --primary-600: #cc6600;
  --primary-700: #994d00;
  --primary-800: #663300;
  --primary-900: #331a00;

  --secondary-100: #ffffff;
  --secondary-200: #f9f9f9;
  --secondary-300: #f2f2f2;
  --secondary-400: #ebebeb;
  --secondary-500: #f0f0f0; /* Un poco menos blanco */
  --secondary-600: #d6d6d6;
  --secondary-700: #bcbcbc;
  --secondary-800: #a3a3a3;
  --secondary-900: #898989;
}

.dark {
  font-family: 'Inter', sans-serif, Arial, Helvetica;
  color: var(--text);
  --logo : #ffffff;
  --background-100: #1a1a1a;
  --background-200: #333333;
  --background-300: #4d4d4d;
  --background-400: #666666;
  --background-500: #000000; /* Fondo principal */
  --background-600: #808080;
  --background-700: #999999;
  --background-800: #b3b3b3;
  --background-900: #cccccc;
  --text: #b9b9b9;


  --secondary-100: #333333;
  --secondary-200: #2e2e2e;
  --secondary-300: #292929;
  --secondary-400: #242424;
  --secondary-500: #1a1a1a; /* Un poco menos negro */
  --secondary-600: #161616;
  --secondary-700: #121212;
  --secondary-800: #0e0e0e;
  --secondary-900: #0a0a0a;



}

/* Estilos Globales */
/* body {
  background-color: var(--background-main);
  color: var(--text-main);
  font-family: 'Arial', sans-serif;
} */

/* Títulos y Subtítulos */
h1, h2, h3, h4, h5, h6 {
  color: var(--text);
  margin-bottom: 1rem;
}

h1 {
  color: var(--text);
  font-size: 2.5rem;
  font-weight: 700;
}

h2 {
  color: var(--text);
  font-size: 2rem;
  font-weight: 600;
}

h3 {
  color: var(--text);
  font-size: 1.75rem;
  font-weight: 600;
}

h4 {
  color: var(--text);
  font-size: 1.5rem;
  font-weight: 500;
}

h5 {
  color: var(--text);
  font-size: 1.25rem;
  font-weight: 500;
}

h6 {
  color: var(--text);
  font-size: 1rem;
  font-weight: 500;
}

.card {
  color: var(--text);
  background: var(--bg-primary-200);
  border-radius: 20px;
  padding: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
